/*******************************************************
***************COLOR PALETTE****************************
**https://colorhunt.co/palette/0820322c394b334756ff4c29*
****************************************************  */



/* ******************************************************************
******************************SMARTPHONE***************************** 
******************************************************************* */

@media (max-width: 479px)
{

    /************************* GLOBAL SELECTORS ************************/
    * {
        font-family: Poppins, sans-serif;
        color: #FF4C29;
        margin:0;
    }
    
    /************************** TAG SELECTORS **************************/
    html, body{
        background-color: #082032;
        height:100%;
        margin: 2px;
    }
    header{
        background-color: #2C394B;
        top: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    h1{
        background-color: #2C394B;
    }
    
    aside{
        background-color: #334756;
    }
    span{
        background-color: #334756;
        padding: 10px; 
        margin: 3px;
        display: inline-block;
        border-radius: 15px;
    }
    span:hover{
        border: solid 3px;
        transition: border .1s;
        cursor: pointer;
    }
    footer{
        background-color: #2C394B;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    
    
    }
    
    
    /**************************** CLASS SELECTORS **********************/
    
    /* creo una class para asignar el grid area, en este caso body */
    .gridArea { 
        display: grid;                 /* necesario para que sea grid */
        grid-template-areas:
        "cabeza"/* fila 1 */
        "menu" /* fila 2 */
        "contenidoPrincipal" /* fila 3 */
        "ContenidoSecundario" /* fila 4 */
        "publicidad" /* fila 5 */
        "pie" /* fila 6 */
        ;
    
        /* Asigno tamaño a columnas y filas */
    
        grid-template-columns: 100vw;
        grid-template-rows: auto auto auto auto auto auto;
        grid-row-gap: 5px;
    
    }
    .flexNav{
        display:flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        
    
    }
    .imagenPublicidad{
        width:50px;
        height:50px;
    }
    .fotoMoto{
        display: block;
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    
    
    
    /************************* ID SELECTORS ****************************/
    #cabeza{
        grid-area: cabeza;
    
    }
    #menu{
        grid-area: menu;
    
    }
    #contenidoPrincipal{
        grid-area: contenidoPrincipal;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        padding: 5px 20px 5px 20px;
    
    }
    #contenidoSecundario{
        grid-area: contenidoSecundario;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    
        
    
    }
    #publicidad{
        grid-area: publicidad;
        display: flex;
        flex-flow: column wrap;
        align-items:center;
        justify-content: space-between;
    
    }
    #pie{
        grid-area: pie;
        display: flex;
        justify-content:center;
    
    }
    
    
    }
















/* ******************************************************************
******************************TABLET******************************** 
******************************************************************* */

@media (min-width: 480px) and (max-width: 1023px)
{

    /************************* GLOBAL SELECTORS ************************/
    * {
        font-family: Poppins, sans-serif;
        color: #FF4C29;
        margin:0;
    }
    
    /************************** TAG SELECTORS **************************/
    html, body{
        background-color: #082032;
        height:100%;
    }
    header{
        background-color: #2C394B;
        top: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    h1{
        background-color: #2C394B;
    }
    
    aside{
        background-color: #334756;
    }
    span{
        background-color: #334756;
        padding: 10px; 
        margin: 3px;
        display: inline-block;
        border-radius: 15px;
    }
    span:hover{
        border: solid 3px;
        transition: border .1s;
        cursor: pointer;
    }
    footer{
        background-color: #2C394B;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    
    
    }
    
    
    /**************************** CLASS SELECTORS **********************/
    
    /* creo una class para asignar el grid area, en este caso body */
    .gridArea { 
        display: grid;                 /* necesario para que sea grid */
        grid-template-areas:
        "cabeza"/* fila 1 */
        "menu" /* fila 2 */
        "contenidoPrincipal" /* fila 3 */
        "ContenidoSecundario" /* fila 4 */
        "publicidad" /* fila 5 */
        "pie" /* fila 6 */
        ;
    
        /* Asigno tamaño a columnas y filas */
    
        grid-template-columns: 100vw;
        grid-template-rows: auto auto auto auto auto auto;
        grid-row-gap: 5px;
    
    }
    .flexNav{
        display:flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        
    
    }
    .imagenPublicidad{
        width:70px;
        height:70px;
    }
    .fotoMoto{
        border-radius: 15px;
        border: solid;
        display: block;
    }

    .aranceles{
        padding: 10px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

    }
    .sugerencia {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

    }
    
    
    
    /************************* ID SELECTORS ****************************/
    #cabeza{
        grid-area: cabeza;
    
    }
    #menu{
        grid-area: menu;
    
    }
    #contenidoPrincipal{
        grid-area: contenidoPrincipal;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        padding: 5px 20px 5px 20px;
    
    }
    #contenidoSecundario{
        grid-area: contenidoSecundario;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    
        
    
    }
    #publicidad{
        grid-area: publicidad;
        display: flex;
        flex-flow: row nowrap;
        align-items:center;
        justify-content: space-between;
    
    }
    #pie{
        grid-area: pie;
        display: flex;
        justify-content:center;
    
    }
    
    
    }
    










/* ******************************************************************
******************************DESKTOP******************************** 
******************************************************************* */

@media (min-width: 1024px)
{

/************************* GLOBAL SELECTORS ************************/
* {
    font-family: Poppins, sans-serif;
    color: #FF4C29;
    margin:0;
}

/************************** TAG SELECTORS **************************/
html, body{
    background-color: #082032;
    height:100%;
}
header{
    background-image: linear-gradient( to right bottom,#2C394B 30%, #5c6674 70%);
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

aside{
    background-image: linear-gradient(to bottom, #748c9e 10%, #334756 90%);
}



span{
    padding: 15px 50px 15px 50px;
    background-color: #334756;
    margin: 3px;
    display:block;
    border-radius: 15px;
}
span:hover{
    border: solid 3px;
    transition: border .1s;
    cursor: pointer;
    background-image: linear-gradient(to right, #334756 30%, #082032);
    transition: .1s;
}
span:active{
    background-color: #334756;
}
footer{
    background-color: #2C394B;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;


}


/**************************** CLASS SELECTORS **********************/

/* creo una class para asignar el grid area, en este caso body */
.gridArea { 
    display: grid;                 /* necesario para que sea grid */
    grid-template-areas:
    "cabeza cabeza cabeza" /* fila 1 */
    "menu contenidoPrincipal publicidad" /* fila 2 */
    "menu ContenidoSecundario publicidad" /* fila 3 */
    "pie pie pie" /* fila 4 */
    ;

    /* Asigno tamaño a columnas y filas */

    grid-template-columns: 20vw auto 10vw ;
    grid-template-rows: 15vh 35vh 45vh 5vh;

}
.flexNav{
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    

}
.imagenPublicidad{
    width:100px;
    height:100px;
}
.fotoMoto{
    border-radius: 15px;
    border: solid;
}

.fotoMoto:hover {
    transform: scale(1.1, 1.1) ;
    transition: .5s;
}

.aranceles {
    padding: 20px;
    border: solid;
    border-style:groove;
}

.sugerencia {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.video{
    border-radius: 15px;
    border: solid;
}




/************************* ID SELECTORS ****************************/
#cabeza{
    grid-area: cabeza;

}
#menu{
    grid-area: menu;

}
#contenidoPrincipal{
    grid-area: contenidoPrincipal;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 10px 40px 10px 40px;
    height: 30vh;
    overflow: clip;

}
#contenidoSecundario{
    grid-area: contenidoSecundario;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    

}
#publicidad{
    grid-area: publicidad;
    display: flex;
    flex-flow: column nowrap;
    align-items:center;
    justify-content: space-between;

}
#pie{
    grid-area: pie;
    display: flex;
    justify-content:center;

}


}
